.comment-container {
    display: flex;
    flex-direction: column;
}

.comment-score-container {
    
}

.comment-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.icon-name-timestamp{
    display: flex;

}