@import "./GlobalVariables.scss";

.comments-bg-padding {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 80px;
}

.comments-page {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    flex: 1;
    padding: 20px;
}

.comments-info-panels{
    width: 300px;
}

.comments-section {
    max-width: 740px;
    min-width: 300px;
    flex: 1;
}

.comments-post-container {
    display: flex;
    flex-direction: row;
    max-height: 650px;
       
}

.comments-post-score-container {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;

}

.comments-number-container{
    display: flex;
    position: relative;
    left: 20px;
    margin-bottom: 20px;
}

.comments-number {
    font-size: 12px;
    color: #878A8C;
    border-radius: 2px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;
    align-items: center;
    align-self: center;
}

.comments-container {
    width: 100%;
    padding: 10px;
}

.add-comment-container {
    font-family: "Noto Sans", sans-serif;
    margin: 30px;
}

.comment-as{
    font-size: 13px;
    margin-bottom: 5px;
}