@import "./GlobalVariables.scss";



.items-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 5px;
}

.icon {
    height: 37px;
    border-radius: 50%;
    background-color: #F7F9FA;;
    padding: 2px;
}

.img-upload-container{
    
    display: flex;
    border-radius: 3px;
    margin: 2px;
    height: 37px;
    width: 37px;
    justify-content: center;
    align-items: center;
}

.img-upload-container:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.img-upload-icon { 
    color: #8f8f8f;
}

.link-icon {
    transform: rotate(135deg);
}

