@import "./GlobalVariables.scss";

$button-blue: #0079D3;
$button-white: #F5FAFE;

.button {
    border: none;
    padding: 6px;
    width: 120px;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}

.log-in {
    background-color: $section-background;
    color: $button-blue;
    border: 1px solid $button-blue;
}

.log-in:hover {
    background-color: $button-white;
}

.log-in:active {
    background-color: #cedeeb;
}

.sign-up {
    background-color: $button-blue;
    color: $button-white;
    border: 1px solid $button-blue;
}

.sign-up:hover {
    background-color: #1382d8;
    border: 1px solid #1382d8;
}

.sign-up:active {
    background-color: #3c9be4;
    border: 1px solid #3c9be4;
}