@import "./GlobalVariables.scss";

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0%;
    left: 0%;
    z-index: 5;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 850px;
  height: 650px;
  background-color: $section-background;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
}

.modal-header {
    font-family: 'IBM Plex Sans', sans-serif;
}

.image-dec {
    height: 650px;
    width: 130px;
    object-fit: cover;
    object-position: 0 50%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.close-button{
    background: none;
    border: none;
    font-size: 38px;
    color: rgb(124, 124, 124);
    position: relative;
    bottom: 300px;
    left: 675px;

}

.close-button:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}

.smaller-text {
    font-size: 12px;
}

.modal-switch-link {
    font-weight: bold;
    color: #0079D3;
}

.modal-switch-link:hover {
    cursor: pointer;
    color: #2a91e0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.modal-input {
    margin-bottom: 10px;

}

.modal-small{
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;

}

.logged-in-message {
    margin-top: 20px;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #237bbe;
    font-weight: 700;
}

