@import "./GlobalVariables.scss";

.navbar-container {
    height: 50px;
    background-color: $section-background;
    max-width: 100vw;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 0.1px solid rgb(228, 228, 228);
    padding-right: 20px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.logo-container{
 display: flex;
 align-items: center;
 width: 150px;
 padding-right: 20px;

}

.main-logo {
    width: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.add-post-cross {
    border-radius: 3px;
    padding: 1px;
}

.add-post-cross:hover {
    background-color: #E7E7E7;
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0%;
    left: 0%;
    z-index: 5;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 850px;
  height: 650px;
  background-color: $section-background;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
}

.image-dec {
    height: 650px;
    width: 130px;
    object-fit: cover;
    object-position: 0 50%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
