.post-filter-container {
    display: flex;

}

.option {
    display: flex;
    margin: 10px 0px 10px 20px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.option:hover{
    cursor: pointer;

    background-color: #EDEDED; 
}

.filter-option {
    
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color:#7E8183;
}

.filter-icon {
    color:#7E8183;
    margin-right: 5px;
}

.post-type-highlight {
    color: #0079D3;
}

.option-selected {
    background-color: #EDEDED;
}