@import "./GlobalVariables.scss";

.dropdown-contents {
    border: transparent 1px solid;
    border-radius: 3px;
    background-color: $section-background;
    position: relative;
    top: 5px;
    align-self: flex-start;
}

.dropdown-contents:hover {
    border: $section-border 1px solid;
    cursor: pointer;
}

.dropdown-panel {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 200px;
    flex-direction: row;
    
}


.error-message {
    color: red;
}

.nav-icon {
    width: 25px;
    margin-right: 5px;
    
}

.nav-username {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    user-select: none;
    width: 100%;
}

.chevron {
    position: relative;
    top: 3px;
    margin-left: auto;
    
}

.dropdown-options {
 padding-top: 10px;
 display: flex;
 flex-direction: column;
}

.dropdown-item {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    height: 100%;
}

.dropdown-item:hover {
    background: #0079D3;
    cursor: pointer;
}    

@media only screen and (max-width: 800px) {
    .dropdown-panel {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 150px;
        flex-direction: row;
        
    }

    .nav-username {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 10px;
        user-select: none;
        width: 100%;
    }
    
}

@media only screen and (max-width: 460px) {
    .dropdown-panel {
        display: flex;
        align-items: center;
        padding: 5px;
        width: auto;
        flex-direction: row;
        
    }

    
    
}
