@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600&family=Noto+Sans:wght@400;700&display=swap');
@import "./styles/GlobalVariables.scss";

.section-container {
    background-color: $section-background;
    border: 1px solid $section-border;
    border-radius: 5px;
    margin: 10px;
}
.App {
    display: flex;
    max-width: 1000px;
}

.feed{
    width: 660px;
}

.info-panels {
   width: 340px;
}





